/* Code for dark mode */

:root{

    --primary-major : #f6f6f6;
    --secondary-major : #000000;
  
    --primary-text:#000000;
    --secondary-text:#f6f6f6;
  
  
    /* --primary-minor: #EEEDED; */
  
    --primary-minor: rgba(210,210,210,0.4);
    --seconday-minor: rgba(255,255,255,0.1); 
    
    --primary-border:  rgba(191, 191, 191, 1);
    
  
    --footer: #DBD9DB;
  }
  
  .dark-mode{
  
    --primary-major : #000000;
    --seconday-major : #f6f6f6;
  
    --secondary-text:#000000;
    --primary-text:#f6f6f6;
  
    --primary-minor: rgba(255,255,255,0.1);
    --secondary-minor: #EEEDED;
  
    --primary-border:#000000;
    
    --footer: #DBD9DB;
  }
  



/* Code for navbar */

  
ul{

    list-style: none;
    font-family: "Roboto", sans-serif;
  
    

  }

  li {

    margin: 0px 10px;
    font-family: "Inter", sans-serif;


  }


  .logo >  img {

      width: 15%;
      height: 15%;


  }

  .container1{
    max-width: 100vw;
    margin: auto;
    display: flex;
    

  }

  a{

    text-decoration: none;
   color: #000000;
  }

  nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    padding: 20px 0;

  }

  nav ul{

    display: flex;
    
  }

  .logo {

    font-size: 20px;
    font-weight: 1500;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 15%;
    
} 

nav ul li {

    border-bottom: 2px solid transparent;
    transition: o.2s ease-in-out;
 }
 nav ul li:hover{
 
    border-bottom: 2px solid  ;
    transition: o.2s ease-in-out;
 }



 /* code for toggle btn */

    
#checkbox{

    visibility: hidden;
  }
  
  
  .label{
  position: relative;
  background-color:var(--primary-text);
  width: 2.6rem;
  height: 1.5rem;
  border-radius: 10rem;
  display: inline-block;
  border-radius: 1px solid blue;
  
  }
  
  
  .toggle-ball{
  
    display: inline-block;
    background-color: var(--secondary-text);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: .15rem;
    left: .1rem;
    transition: all 0.2s linear;
  
  }
  
  .toggle-btn{
  
    position: relative;
    left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  
  #checkbox{
  
    visibility: hidden;
  }
  
  
  
  #checkbox:checked + .label .toggle-ball{
  
    transform: translateX(1.2vw);
    background-color: rgba(107, 107, 224, 0.953);
  
  }
  
  .main p, .main h1,.divs h1{
  
    color: var(--primary-text);
  
  }
  
   nav li ,  .logo, .footer>p{
  
    color: var(--primary-text);
    font-weight: 500;
  
  }
  
  
  .cards span , .cards h3 ,.cards div{
  
    color:var(--primary-text);
  }
  
  .logo-mob{
  
    color: var(--primary-text);
  
  }
  

  /* code for toggle-btn-mobile */

    
.label-mob{
    position: relative;
    background-color:var(--primary-text);
    width: 2.6rem;
    height: 1.5rem;
    border-radius: 10rem;
    display: inline-block;
    
    }
    
    
    .toggle-ball-mob{
    
      display: inline-block;
      background-color: var(--secondary-text);
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      position: absolute;
      top: .15rem;
      left: .1rem;
      transition: all 0.2s linear;
    
    }
    
    .toggle-btn-mob{
    
      position: relative;
      
      margin-right: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      
    
    
    
    }
  
  





/* Code for desging the content        */


        *{

                padding: 0px;
                margin: 0px;

        }


        body {

            /* font-family: Arial, sans-serif; */
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            background-color: var(--primary-major); 
            color: var(--primary-text);
            height: 100%;
            
        }


        .main {

            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-height: 95vh;
            padding: 4%;
            
        }

        #addBlogSection{

            background-color: var(--primary-minor);
            width: 60vw;
            padding: 1%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 0.5px solid grey;
            font-size: 18px;
          
        }

        #blogForm{

            
            width: 90%;
            display: flex; 
            flex-direction: column;
            padding: 3%;
            margin-top: 1%;
         
        }

        .text-input{


            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top:2%; 
          
            
        }

        input{

            padding: 0.5%;
            outline: none;
            border: none;
            margin-top: 01%;
            background: transparent;
            border-bottom: 0.5px solid var(--primary-text);
            border-radius: 2px;
            color: var(--primary-text);
            font-weight: 500;
            font-family: "Inter", sans-serif;
        }

        textarea{

            width: auto;
            height:10vh;
            resize: none;
            outline: none;
            margin-top: 2%;
            border: 1px solid grey;
            background: transparent;
            padding: 0.5%;
            border: 0.5px solid var(--primary-text);
            color: var(--primary-text);
            font-size: 1000;
            font-weight: 500;
            font-family: "Inter", sans-serif;
        }

        #add-btn{

            margin-top: 4%;
            width: 30%;
            align-self: center;
            padding: 0.5%;
            cursor: pointer;
            border-radius: 3px;
            background-color: #333;
            color: #fff;
            font-weight: 600;
            border: none;
            
        }

        


        /* setting the blog showing section */



        .div-btn{

            margin-top: 5%;
        }

        .box-btn{

                height: fit-content;
                padding:1% ;
                background-color: #333;
                color: #fff;
                border: none;
                cursor: pointer;

            }
                




        button:hover {
            background-color: #555;
        }

       #add-btn:hover {
            background-color: #555;
        }


        #show-section{

            display: flex;
            justify-content: center;
            align-items: center;
        }


     hr{

          max-width: 85vw;
          margin: auto;

  
        }

        .footer{

            background-color:var(--primary-minor) ;
            height: 5vh;
            margin-top: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
          }



      /* new code for show section */


             
    #showBlogsSection{

      width: 100%;
      margin-top: 2%;
      max-width: 80vw;
      /* background-color: aqua; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

  }


  #blogsContainer{

        
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      align-items:center ;
      margin-top: 1%;
      /* background-color: red; */
      width: 70vw;


  }

  .box{

      margin: 0.5% 0.5%;
      padding: 1%;
      padding-bottom: 2%;
      display: flex;
      flex-direction: column;
      border: 0.5px solid grey;
      background-color: var(--primary-minor);
      width: 95%;
      margin: 1% 0%;


    }

    /* additional codes */

    .box > p {

      margin-top: 1%;

    }

    .box > h3 {

      margin-top: 0.5%;

    }